--
-- PostgreSQL database dump
--

\restrict Y00koxp7HoCNqP7fqUX0ugChp3PAIPQzMJNg3gW8lr2AK8P2zXB3RfdSu43DkYZ

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agent_templates (
    name character varying(50) NOT NULL,
    department character varying(50),
    system_prompt text NOT NULL,
    tools jsonb DEFAULT '[]'::jsonb,
    model_name character varying(50) DEFAULT 'qwen3-14b'::character varying,
    max_tokens_per_request integer DEFAULT 4000,
    temperature double precision DEFAULT '0.7'::double precision
);


ALTER TABLE public.agent_templates OWNER TO postgres;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    details jsonb DEFAULT '{}'::jsonb,
    ip_address character varying(45),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: kpis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpis (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    date character varying(10) NOT NULL,
    tasks_completed integer DEFAULT 0,
    messages_sent integer DEFAULT 0,
    avg_response_quality double precision,
    active_minutes integer DEFAULT 0,
    tools_used jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.kpis OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    session_id uuid NOT NULL,
    role character varying(20) NOT NULL,
    content text NOT NULL,
    project_context text,
    tokens_used integer,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: profile_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profile_users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    profile_id uuid NOT NULL,
    priority integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.profile_users OWNER TO postgres;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50) NOT NULL,
    description character varying(500),
    agents_md text DEFAULT ''::text,
    skills jsonb DEFAULT '[]'::jsonb,
    system_prompt text DEFAULT ''::text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    title character varying(255),
    agent_template_name character varying(50),
    last_activity character varying(50),
    profile_name character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: telegram_bindings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telegram_bindings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    telegram_chat_id bigint NOT NULL,
    binding_token character varying(64) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.telegram_bindings OWNER TO postgres;

--
-- Name: user_api_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_api_keys (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    provider character varying(50) DEFAULT 'minimax'::character varying,
    encrypted_key text NOT NULL,
    key_prefix character varying(10) NOT NULL,
    is_active boolean DEFAULT true,
    daily_budget integer DEFAULT 50000,
    spent_today integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_api_keys OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    full_name character varying(100),
    department character varying(50),
    role character varying(20) DEFAULT 'employee'::character varying,
    is_active boolean DEFAULT true,
    max_tokens_per_day integer DEFAULT 50000,
    max_requests_per_day integer DEFAULT 200,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Data for Name: agent_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agent_templates (name, department, system_prompt, tools, model_name, max_tokens_per_request, temperature) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
64336bb416f8
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_log (id, user_id, action, details, ip_address, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: kpis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kpis (id, user_id, date, tasks_completed, messages_sent, avg_response_quality, active_minutes, tools_used) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.messages (id, session_id, role, content, project_context, tokens_used, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: profile_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profile_users (id, user_id, profile_id, priority, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profiles (id, name, slug, description, agents_md, skills, system_prompt, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (id, user_id, title, agent_template_name, last_activity, profile_name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: telegram_bindings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.telegram_bindings (id, user_id, telegram_chat_id, binding_token, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_api_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_api_keys (id, user_id, provider, encrypted_key, key_prefix, is_active, daily_budget, spent_today, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, hashed_password, full_name, department, role, is_active, max_tokens_per_day, max_requests_per_day, created_at, updated_at) FROM stdin;
\.


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 1, false);


--
-- Name: agent_templates agent_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agent_templates
    ADD CONSTRAINT agent_templates_pkey PRIMARY KEY (name);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: kpis kpis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpis
    ADD CONSTRAINT kpis_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: profile_users profile_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_users
    ADD CONSTRAINT profile_users_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: telegram_bindings telegram_bindings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_bindings
    ADD CONSTRAINT telegram_bindings_pkey PRIMARY KEY (id);


--
-- Name: telegram_bindings telegram_bindings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_bindings
    ADD CONSTRAINT telegram_bindings_user_id_key UNIQUE (user_id);


--
-- Name: profile_users uq_profile_user_user_profile; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_users
    ADD CONSTRAINT uq_profile_user_user_profile UNIQUE (user_id, profile_id);


--
-- Name: user_api_keys user_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_log_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_audit_log_user_id ON public.audit_log USING btree (user_id);


--
-- Name: ix_kpis_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kpis_date ON public.kpis USING btree (date);


--
-- Name: ix_kpis_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kpis_user_id ON public.kpis USING btree (user_id);


--
-- Name: ix_messages_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_messages_session_id ON public.messages USING btree (session_id);


--
-- Name: ix_profiles_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_profiles_is_active ON public.profiles USING btree (is_active);


--
-- Name: ix_profiles_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_profiles_name ON public.profiles USING btree (name);


--
-- Name: ix_profiles_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_profiles_slug ON public.profiles USING btree (slug);


--
-- Name: ix_sessions_agent_template_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sessions_agent_template_name ON public.sessions USING btree (agent_template_name);


--
-- Name: ix_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_sessions_user_id ON public.sessions USING btree (user_id);


--
-- Name: ix_telegram_bindings_binding_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_telegram_bindings_binding_token ON public.telegram_bindings USING btree (binding_token);


--
-- Name: ix_telegram_bindings_telegram_chat_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_telegram_bindings_telegram_chat_id ON public.telegram_bindings USING btree (telegram_chat_id);


--
-- Name: ix_user_api_keys_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_api_keys_user_id ON public.user_api_keys USING btree (user_id);


--
-- Name: ix_users_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_department ON public.users USING btree (department);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_is_active ON public.users USING btree (is_active);


--
-- Name: ix_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_role ON public.users USING btree (role);


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: kpis kpis_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpis
    ADD CONSTRAINT kpis_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: messages messages_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id) ON DELETE CASCADE;


--
-- Name: profile_users profile_users_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_users
    ADD CONSTRAINT profile_users_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_users profile_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_users
    ADD CONSTRAINT profile_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: telegram_bindings telegram_bindings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_bindings
    ADD CONSTRAINT telegram_bindings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_api_keys user_api_keys_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Y00koxp7HoCNqP7fqUX0ugChp3PAIPQzMJNg3gW8lr2AK8P2zXB3RfdSu43DkYZ

